{{#paper-card as |card|}}
    {{#link-to "game" game.extID class="link-to-game"}}
        {{card.image src=game.image.small_url alt=game.name title=game.name}}
    {{/link-to}}
    {{#card.header as |header|}}
        {{#header.text as |text|}}
            {{#text.title}}
                {{#link-to "game" game.extID class="link-to-game" title=game.name}}
                    {{game.name}}
                {{/link-to}}
            {{/text.title}}
            <div></div>
            {{#text.subhead}}{{game.developers.0.name}}{{/text.subhead}}
        {{/header.text}}
    {{/card.header}}
    {{#card.actions}}
        {{#paper-button class="btn-mark-done" onClick=(action markDone game) iconButton=true}}
            {{paper-icon "done"}}
        {{/paper-button}}
        {{#paper-button class="btn-remove" onClick=(action remove game) iconButton=true}}
            {{paper-icon "delete"}}
        {{/paper-button}}
    {{/card.actions}}
{{/paper-card}}
